# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MY_KEYBOARD

config ZMK_KEYBOARD_NAME
    default "t# Copyright (c) 2021 The ZMK Contributors"
# SPDX-License-Identifier: MIT

if SHIELD_MY_KEYBOARD

config ZMK_KEYBOARD_NAME
    default "my_Keyboard"

endif
