

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>


/ {
    behaviors {
        studio_unlock: studio_unlock {
            compatible = "zmk,behavior-studio-unlock";
            #binding-cells = <0>;
        };
    };
};
