/dts-v1/;
/plugin/;

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>

/ {
    behaviors {
        studio_unlock: studio_unlock {
            compatible = "zmk,behavior-macro";
            label = "STUDIO_UNLOCK";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp RCTRL &kp L>;
        };
    };
};
